.mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
    padding-top: 1px !important; 
}

mat-form-field {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    align-items: flex-start;
}
  
.example-radio-button {
    margin: 0;
  }